<div class="content-form mt-5">
    <% if params[:email].present? %>
        <% provide :title do %><%= t("devise_views.sessions.new.title") %><% end %>
        <h2><%= t("devise_views.sessions.new.title") %></h2>
        <%= render 'devise/omniauth_form' %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.hidden_field :login, value: params[:email] %>
            <div class="w-60 mt-5">    
                <label>Contraseña</label>
                <%= f.password_field :password, autocomplete: "off", placeholder: "Introduce tu contraseña", label: false, class: "input-password" %>
                <%# link_to t("devise_views.shared.links.new_password"), new_password_path(resource_name), class: "float-right" %>
                <div class="mt-4">
                    <%= link_to "He olvidado mi contraseña", new_password_path(resource_name), class: 'btn-style-2 mb-3' %>
                    <br />
                    <%= link_to "No puedo iniciar sesión", session_problem_path, class: 'btn-style-2' %>
                </div>
                
                <div class="mt-4 mb-5">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="switch">
                      <label class="form-check-label" for="switch">Recordar contraseña</label>
                      <p class="text-description">¡Te sugerimos esto para recordar tu contraseña la próxima vez!</p>
                    </div>
                </div>
                <%= f.submit("Iniciar sesión", class: "signin-b") %>
                <p class="mt-4 text-center">
                <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                ¿No has recibido instrucciones para confirmar tu cuenta? Haz clic <%= link_to "aquí", new_confirmation_path(resource_name) %><br>
                <% end -%>
                
                <br>
                Si tienes alguna duda, llámanos al 81 1212 1212 o escríbenos a decide@sanpedro.gob.mx
                </p>
            </div>
    <% end %>
    <% else %>
        <%= form_tag "/check_email", method: "post" do |f| %>
        
            <h2 class="mb-5">¡Bienvenid@ a <br>Decide San Pedro!</h1>
            
            <h2 style="font-size: 40px;">Iniciar sesión</h2>

            <div class="w-60">
                <p class="font-18 mb-3">¿Cuál es tu correo electrónico?</p>
                <div class="mb-4">
                    <input type="email" name="email" placeholder="Introduce tu email" required></input>
                </div>
                <button class="d-block" type="submit">Continuar</button>
            </div>
            <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                ¿No has recibido instrucciones para confirmar tu cuenta? Haz clic <%= link_to "aquí", new_confirmation_path(resource_name) %><br>
            <% end -%>
        
        <% end %>
    <% end %>
</div>