<style>
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"] {
        background: rgba(255, 255, 255, 0.1);
        border: none;
        font-size: 16px;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 15px;
        width: 100%;
        /* background-color: #e8eeef; */
        background-color: #EEF4F3;
        color: #8a97a0;
        /* box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset; */
        border-radius: 34px;
        letter-spacing: 0;
    }
  
    .password {
        color: #071110;
        font-family: Arial;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 21px;
    }
  
    .input-password {
        color: #071110;
        font-family: Arial;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 21px;
    }
  
    .meb-g {
        background-color: #EEF4F3;
        border-radius: 34px;
        color: #071110;
        cursor: pointer;
        font-family: Arial;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 18px;
        text-align: center;
        width: auto;
        padding: 15px;
    }
  
    input::placeholder {
        font-weight: bold;
        opacity: 0.4;
        color: #071110;
    }
  
    .signin-b {
        background-color: #EEF4F3;
        color: #071110;
        cursor: pointer;
        font-family: Arial;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 21px;
        text-align: center;
        width: 100%;
        border-radius: 25px;
        margin-top: 30px;
        padding: 15px;
    }
  
    h1 {
        color: #071110;
        font-family: Arial;
        font-size: 60px;
        letter-spacing: 0;
        line-height: 69px;
        margin-bottom: 30px;
    }
  
    input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
        margin-top: 30px;
    }
  
    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 50px;
        height: 25px;
        background: rgba(7,17,16,0.2);
        display: block;
        border-radius: 25px;
        position: relative;
    }
  
    label:after {
        content: '';
        position: absolute;
        top: 2.5px;
        left: 3px;
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 10px;
        transition: 0.3s;
    }
  
    input:checked+label {
        background: #071110;
    }
  
    input:checked+label:after {
        left: calc(100% - 3px);
        transform: translateX(-100%);
    }
  
    label:active:after {
        width: 130px;
    }
  
    .remember {
        color: #071110;
        font-family: Arial;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 18px;
    }
  
    .remember-text {
        color: #879B9A;
        font-family: Arial;
        font-size: 15px;
        letter-spacing: 0;
        line-height: 20px;
    }
  </style>

<% provide :title do %><%= t("devise_views.sessions.new.title") %><% end %>
<h1><%= t("devise_views.sessions.new.title") %></h1>

<%= render 'devise/omniauth_form' %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <%= f.hidden_field :login, value: params[:email] %>

    <%= f.password_field :password, autocomplete: "off", placeholder: "Introduce tu contraseña", label: false, class: "input-password" %>
    <%# link_to t("devise_views.shared.links.new_password"), new_password_path(resource_name), class: "float-right" %>

    <div style="margin-top: 30px;">
        <button style="margin-bottom: 15px;" class="meb-g" type="submit">He olvidado mi contraseña</button>
        <br />
        <button class="meb-g" type="submit">No puedo iniciar sesión</button>
    </div>

    <div style="display: inline-block; margin-top: 30px;">
        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
    </div>
    <div style="display: inline-block; vertical-align: middle;">
        <p class="remember">Recordar contraseña</p>
        <p class="remember-text">¡Te sugerimos esto para recordar tu contraseña la próxima vez!</p>
    </div>

    <%= f.submit("Iniciar sesión", class: "signin-b") %>

<% end %>